.pagination {
  display: flex;
  min-width: 600px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ff9000;
  color: #fff;
  background-color: #F6AD55;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: rgb(255, 255, 255);
  background: #F6AD55;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
